.navbar{
    background-color: #233585;
    text-align: center;
    color: #fff;
    margin: 5px;
    height: 120px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    margin: 1;
}
.linknav{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    padding-bottom: 0;
    
}

body{
    background-color: #efefef;
}

.paper{
    background-color: #fff;
    border: #b1b1b1 3px solid;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: lighter;
    display: inline-block;
    width: 1500px;
}

.tudo{
   
    height: 300px;
    padding-bottom: 100px;
    
}

.links{
    display: inline-block;
    background-color: #becaf3;
    border: #7192d3 3px solid;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    width: 450px;
    
    
}

.baixo{
    text-align: center;
    background-color: #233585;
    color:#fff;
    height: 80px;
    padding: 30px;
    
}