.navbar{
    background-color: #ffd2c8;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color:#a53c25 ;
    padding: 20px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}
body{
    background-color: #f0eae1;
    margin: 0;
}

    
.pratos{
    display: inline-block;
    
}

img{
    width: 200px;
    border: #a53c25 5px solid;
    border-radius: 20px;
}

.titulo{
    text-align: center;
    color: #a53c25;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffd2c8;
    border: #a53c25 8px solid;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    padding: 20px;
}

