.navbar{
    background-color: #035287;
    color: #fff;
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    padding-top: 5px;
    
}
body{
    margin: 0px;
   
}
.sobre{
    color: #035287;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.linha{
    background-color: #035287;
    height: 2px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 0;
}

.bla{
    display: none;
}

.p{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.lista{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #b0d3eb;
    padding-top: 1px;
    padding-bottom: 1px;
}

.super{
    background-color: #035287;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    height: 80px;
    padding-top: 20px;
}